

<div class="bg" >
    <img src='assets/logo.jpg' alt="image not found" width="200px" height="60px">
    <div class="saisie">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div>
              <label for="username" style="font-weight: bold;">Username:</label><br>
              <div class="nu">
                <input type="text" formControlName="username" placeholder="Enter username">
                <i class='bx bxs-user'></i>
              </div><br><br>
              <div *ngIf="formGroup.get('username')!.invalid && (formGroup.get('username')!.dirty || formGroup.get('username')!.touched)">
                <div *ngIf="formGroup.get('username')!.errors?.['required']">Name is required.</div>
                <div *ngIf="formGroup.get('username')!.errors?.['invalidUsername']">Name is not valid.</div>
              </div>
            </div>
            <div>
              <label for="password" style="font-weight: bold;">Password:</label><br>
              <div class="pwd">
                <input [type]="showpwd ? 'text' : 'password'" formControlName="password" placeholder="Enter your password">
                <i (click)="toggle()" *ngIf="showpwd" class="bx bxs-show"></i>
                <i (click)="toggle()" *ngIf="!showpwd" class="bx bxs-hide"></i>
              </div><br><br>
              <div *ngIf="formGroup.get('password')!.invalid && (formGroup.get('password')!.dirty || formGroup.get('password')!.touched)">
                <div *ngIf="formGroup.get('password')!.errors?.['required']">Password is required.</div>
                <div *ngIf="formGroup.get('password')!.errors?.['invalidPassword']">Password is not valid.</div>
              </div>
            </div>
            <button class="submit" [disabled]="formGroup.invalid" routerLink='/screen3'>Register</button>
          </form>
          <router-outlet></router-outlet>
        </div>
      </div>