<div class="bkg">
   <nav class="element">
          <div class="menu">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="sapValue">
          <button class="btn btn-outline-success" type="submit" routerLink="/searchscreen/{{sapValue}}" >Search</button>
          </div>
          <div class="nav-bar">
          <a class="home" aria-current="page" routerLink='/homescreen'  style="text-decoration: none ;color: rgb(246, 241, 241) ;font-weight: bold ;font-size: 20px;">  Home</a>
          <a class="edit" routerLink="/editscreen"  style="text-decoration: none ;color: rgb(237, 237, 242) ;font-weight: bold ;font-size: 20px;">  Edit<i class="EDit" ></i></a>
          <a class="nav-link-analytic" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none ;color: rgb(233, 244, 244) ;font-weight: bold ;font-size: 20px;">Dashboard<i class="Analytic"></i></a>
          </div>
          <div class="slide">
          <img src='assets/logo.jpg' alt="image not found" width="150px" height="30px" >
          </div>
    </nav>
</div>

